#hero-section {
	background-color: #03363D;
}

.hero-img {
	width: 70%;
	height: auto;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

/* Split the screen in half */
.split {
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: #03363D;
}

/* Control the right side */
.right {
	right: 0;
}

.centered {
	position: inherit;
	top: 50%;
	text-align: center;
}

.video-img {
	width: 100%;
	height: auto;
}

.companies-txt {
	margin: 75px 50px 75px 100px;
}

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
	background: #333333;
}

.img {
	width: 80%;
	z-index: 0;
}

.text-over-img {
	z-index: 1;
	font-size: 1.2em margin-top: -100px;
}

.roles-bg {
	background-color: #F7F4EF;
}