h1,
h3,
h4,
h5 {
	font-family: 'Oxygen', sans-serif;
}

p,
a {
	font-family: 'Montserrat', sans-serif;
	color: #293135;
}

ul {
	list-style-type: none;
}

li {
	border-top-style: groove;
}

.orange-text {
	color: #F25D0E;
}

.link-text {
	font-size: 11px;
	color: #293135;
}

.icon-border {
	color: #F25D0E;
	border: 2px solid #FC7753;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}

/* Nav */
.bar1,
.bar2,
.bar3 {
	width: 15px;
	height: 2px;
	background-color: #fdfcfc;
	margin: 4px 0;
	transition: 0.4s;
}

.burger-bg {
	background-color: #F25D0E;
	width: 33px;
    height: 35px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}

.container-nav {
	padding-left: 10px;
}

.navbar-border {
	color: #F25D0E;
	border: 2px solid #FC7753;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}

.nav-logo {
	max-width: 100px;
	height: auto;
	margin: 1.5rem 1.5rem 0;
}

.nav-item {
	border-top-style: none;
}

.nav-link {
	color: #293135;
}

.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-phone {
	font-size: x-small;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
  }
  
  .dropdown:hover .dropdown-phone {
	display: block;
  }

/* Hero Section */
.hero-bar {
	border: 1.5px solid #FC7753;
	margin-left: 80px;
	margin-bottom: 1rem;
	padding-left: 30rem;
	z-index: 1;
	position: relative;
}

.hero-img {
	width: 70%;
	height: auto;
}

.hero-bg,
.card-bg {
	background-color: #F7F4EF;
}

input[type=search] {
	border-radius: 20px;
	border: 1px solid #636363;
	color: #a0d18c;
	width: 250px;
	height: 30px;
	padding-left: 10px;
}


/* Split the screen in half */
.split {
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: #03363D;
}

/* Control the right side */
.right {
	right: 0;
}

/* Specialism Section */
#specialism-section a {
	color: #293135;
}

.sub-select:hover {
	background-color: #03363D;
	opacity: 0.1;
}

.card-bg {
	font-size: 11px;
}

.job-card:hover {
	border-width: 1px;
	border-color: #F25D0E;
}

.video-img {
	width: 100%;
	height: auto;
}

.sub-border {
	border-top-style: groove;
}

.icon-hover {
	color: #F7F4EF;
}

.icon-hover:hover {
	color: #F25D0E;
}

/* About Section */
#about-section {
	background-color: #03363D;
}

.about-bar {
	border: 0.5px solid #FFFFFF;
}

.about-text {
	margin: 0 150px 0;
}

/* Client Section */
.client-text {
	margin: 75px 50px 75px 100px;
}

/* Roles Section */
.roles-text {
	margin: 0 80px 0;
}

.roles-bg {
	background-color: #F7F4EF;
}

.roles-bar {
	border: 0.1px solid #333333;
}

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

/* Testimonials Section */
.small-font {
	font-size: 12px;
}

/* Insights Section */
.text-over-img {
	z-index: 1;
	font-size: 1.2em;
	margin-top: -100px;
}

/* Footer */
.footer-text {
	font-size: small;
}

input[type=email] {
	border-radius: 20px;
	border: 1px solid #636363;
	color: #a0d18c;
	height: 30px;
	padding-left: 10px;
}

.footer-text {
	font-size:x-small;
}